
/* .royal label {
    display: inline-block;
} */

.royal .label {
    transition: 0.3s;
}

.royal .name-li{
    position:relative;
}

.royal .textinput, button {
    width: 100%;
}

.royal .textinput {
    padding: 20px 7px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.royal .textinput:focus {
    filter: drop-shadow(0 0 3px blue);
}

.royal .error {
    filter: drop-shadow(0 0 3px red);
}

.royal button {
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    background: black;
    padding: 9px 0;
    border-radius: 10px;
}

.royal button:hover {
    opacity: 0.7;
}

.royal .gender {
    text-align: left;
    display: inline-block;
    margin: 1rem;
}

.royal .terms, .gender {
    font-weight: bold;
} 

.royal .form-wrapper {
    background: rgba(255, 248, 220, 0.3);
    letter-spacing: 0.5px;
    /* border: 1px solid blue; */
    padding: 3rem 5rem;
    width: 370px;
    margin: 5rem auto; 
}

.royal .form-list {
    list-style: none;
    /* border: 1px solid red; */
}

.royal .btn-li {
    text-align: center;
    margin-top: 2rem;
}

.royal .button:active {
    padding: 0;
}

/* Labels */

.royal .textlabel-click {
    color: blue;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    opacity: 1;
    z-index: 100;
}

.royal .textlabel {
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 16px;
    opacity: 1;
    z-index: 100;
    font-weight: 500;
}

.royal .gender label, .royal .terms-li label {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.royal .terms-li {
    margin: 2.2rem 0;
    font-weight: bold;
}
.royal .gender input, .royal .terms-li input {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.royal .error-alert {
    color: red;
    font-weight: bold;
    font-size: 0.75rem;
    position: absolute;
    top: 110%;  
    left: 1%;
}

.royal .heading {
    text-align: center;
}

.royal .star {
    color: red;
}

.royal legend {
    margin-left: 8px;
}

.royal fieldset {
    border-radius: 5px;
}