*{
  font-family: "roboto";
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.header{
  width:100%;
  color: black; 
  background-color: white;
  display:grid;
  justify-content: center;
}

.body{
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100dvh;
}

.page{
  padding-top: 1.25em;
  margin:10px auto 0;
  width: 700px;
  padding-bottom: 1.25em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
  justify-content: center;
  background-color: white;
  

}
/* >, +, ~, ' ' */
.harsh form div span.error {
display: none;
font-size: 0.8em;
position: absolute;
}

.harsh form div input:invalid:not(:focus):not(:placeholder-shown) ~ .error {
display: block;
color: red;
}

.harsh ul {
  list-style: none;
  display: grid;
  gap:1.5em;
}

/* .container{
  position:relative;

} */

.harsh .container:focus-within {
  position: relative;
}

.harsh .label-text{
  position: absolute;
  top: -0.5em;
  left: 10px;
  font-size: 12px;
  background: white;
  padding: 0 5px;
  display:none;

}
.harsh input:focus::placeholder{
  opacity:0;
}
.harsh .container:focus-within .label-text {
  display:block;
  /* opacity:1; */
}

.harsh .container:focus-within input {
  padding: 8px 5px 5px;
}

.harsh .option-container{
  display:flex;
  flex-direction: row;
}

.harsh .btn-container{
  display: flex;
  justify-content: center;
}

.harsh .btn{
  box-sizing: unset;
  border-radius: 3px;
  width:20%;
  padding:7px;
  margin-top: 1.25em;
  text-align: center;
}

.harsh .btn:hover{
  color: white;
  background-color: black;
}

.harsh .in-box{
  padding-left: 5px;
  font-size: 1em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 100%;
  height:40px;
}

/* @media only screen and (max-width: 768px) {
  .page{
      border:none;
      width: 90%;
      
  }

  .body{
    background-image: none;
    background-color: white;
  }
  #form ul{
      width: 100%;
  }
} */
